<header>
  <h1>User login</h1>
</header>

  <div class="form-container">
    <div class="form-wrapper">
      <form #loginForm="ngForm" autocomplete="off" (submit)="onSubmit(loginForm)">
        <div>
          <input #Username="ngModel" name="Username" [ngModel]="loginModel.Username" type="text" id="text-box" placeholder="Enter username" required/>
        </div>
        <div>
          <input #Password="ngModel" name="Password" [ngModel]="loginModel.Password" type="password" id="text-box" placeholder="Enter password" required/>
        </div>
        <div>
          <button type="submit" [disabled]="loginForm.invalid">Login</button>
        </div>
      </form>
    </div>
    <div>
        <h4 id="link" routerLink="/user/registration" routerLinkActive="active">Don't have an account? Sign up!</h4>
    </div>
  </div>

